#content{
	outline: 10px solid forestgreen;
	width:888px;
	background-color:#F4FBEA;
	position: absolute;          /* a teljes #content rész vízszintesen középre helyezése margin top-left lehet belőni pontosan, körülményes kicsit*/
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -230px;
}
#imageright{               /* kép méretezése paintbe hogy a divet megfelelően lehessen beállítani a szélesség és magasság alapján*/
	background-color:#F3EBB4;
	margin-left: 20px;
	margin-right: 20px;
	border: 2px solid forestgreen;
	float: right;
	width: 262px;
	height: 370px;
}
#imageleft{
	background-color:#F3EBB4;
	margin-left: 20px;
	margin-right: 40px;
	margin-bottom: 80px;
	border: 2px solid forestgreen;
	float:left;
	width: 200px;
	height:220px;
}
.kepszoveg{
	
	font-weight:bold;
	font-style: italic;
	text-align: center;
}

h1{
	margin-left:20px;
	text-transform:uppercase;
	color: forestgreen;
}

h2{
	text-transform:uppercase;
	color: forestgreen;
	margin-left: 20px;
}

p{
	text-align:justify;
	margin: 20px;
	
}

a:link{
	text-decoration:none;
	text-transform:lowercase;
	
}
a:visited{
	color:blue;
}
a:hover{
	color:red;
}